:root {
    --sunset: #f6c487ff;
    --chestnut: #a34d3cff;
    --cinnabar: #de6141ff;
    --keppel: #65baa0ff;
    --fern-green: #467f4cff;
    --jet: #2a2b2aff;
}

body {
    font-family: 'Quicksand';
    background-color: var(--sunset);
    overflow: hidden;
}

@font-face {
    font-family: 'QuickSand';
    src: url('../res/fonts/quicksand-regular-webfont.woff2') format('woff2'), /* Modern Browsers */
         url('../res/fonts/quicksand-regular-webfont.woff') format('woff'); /* Legacy Browsers */
    /* Add more src lines for additional font formats if needed */
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
    font-family: 'InfoStory';
    src: url('../res/fonts/info_story-webfont.woff2') format('woff2'), /* Modern Browsers */
         url('../res/fonts/info_story-webfont.woff') format('woff'); /* Legacy Browsers */
    /* Add more src lines for additional font formats if needed */
    font-weight: normal;
    font-style: normal;
  }

#room-log {
    text-align: center;
    color: white;   
}

.player-info {
    position: fixed;
    width: 250px; /* Adjust width */
    border-radius: 10px; /* Adjust border radius */
    padding: 10px; /* Adjust padding */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.player-info.left {
    left: 20px;
}

.player-info.right {
    right: 20px;
}

.player-info img {
    width: 100px; /* Adjust image width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%; /* Make it circular */
    margin-right: auto; /* Adjust margin between image and info */
}

.player-info.left img {
    margin-right: 0;  /* Move image to the left for left side */
    margin-left: 10px; /* Add margin for spacing */
  }

.info {
    flex-grow: 1; /* Allow the info div to grow to fill remaining space */
    text-align: left; /* Align info to the left */
}

.player-info.left .info {
    text-align: left; /* Align info to the right for player on the left side */
}

.player-info.right .info {
    text-align: right; /* Align info to the left for player on the right side */
}

.action-strip {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 90px;
    width: 100%;
    background-color: var(--cinnabar);
    display: flex;
    justify-content: space-around;
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); 
    align-items: center;
}

/* Button styles */
.action-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--keppel); /* Adjust button color */
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
    /* height: 50%; */
}

.action-button:hover {
    background-color: var(--fern-green); /* Darker color on hover */
}

.CPmon-card {
    border-radius: 10px;
    padding: 0.5vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2vw;
    width: 15vw;
    text-align: center;
    display: inline-block;
    margin: auto;
}

.CPmon-card.left {
    position: absolute;
    top: 120px;
    left: calc(50% - 24vw); 
    transform: 0;
    background-color: var(--cinnabar);
    border-radius: 10px;
    padding: 0.5vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2vw;
    width: 15vw;
    text-align: center;
    display: inline-block;
}

.CPmon-card.right {
    position: absolute;
    top: 120px;
    left: calc(50% + 10vw); 
    transform: 0;
    background-color: var(--keppel);
    border-radius: 10px;
    padding: 0.5vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2vw;
    width: 15vw;
    text-align: center;
    display: inline-block;
}

.CPmon-avatar {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 1vw;
}

.CPmon-name {
    text-align: center;
    margin-top: 1vw;
    margin-bottom: 0.5vw;
    color: white;
} 

@keyframes rigged-animation {
    0% {
        transform: rotate(-5deg); /* Start by rotating counterclockwise */
    }
    10% {
        transform: rotate(5deg); /* Rotate clockwise */
    }
    20% {
        transform: rotate(-5deg); /* Rotate counterclockwise */
    }
    30% {
        transform: rotate(5deg); /* Rotate clockwise */
    }
    40% {
        transform: rotate(-5deg); /* Rotate counterclockwise */
    }
    50% {
        transform: rotate(5deg); /* Rotate clockwise */
    }
    60% {
        transform: rotate(-5deg); /* Rotate counterclockwise */
    }
    70% {
        transform: rotate(5deg); /* Rotate clockwise */
    }
    80% {
        transform: rotate(-5deg); /* Rotate counterclockwise */
    }
    90% {
        transform: rotate(5deg); /* Rotate clockwise */
    }
    100% {
        transform: rotate(-5deg); /* Rotate counterclockwise */
    }
}


/* Defense animation */
@keyframes bigger-animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* Magic animation */
@keyframes spin-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.attack-sequence {
    animation-name: rigged-animation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    /* animation-fill-mode: forwards; */
}

.guard-sequence {
    animation-name: bigger-animation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    /* animation-fill-mode: forwards; */
}

.magic-sequence {
    animation-name: spin-animation;
    animation-duration: 1s;
    animation-timing-function: linear;
    /* animation-fill-mode: forwards; */
}
