:root {
    --sunset: #f6c487ff;
    --chestnut: #a34d3cff;
    --cinnabar: #de6141ff;
    --keppel: #65baa0ff;
    --fern-green: #467f4cff;
    --jet: #2a2b2aff;
}

@font-face {
    font-family: 'QuickSand';
    src: url('../res/fonts/quicksand-regular-webfont.woff2') format('woff2'), /* Modern Browsers */
        url('../res/fonts/quicksand-regular-webfont.woff') format('woff'); /* Legacy Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'InfoStory';
    src: url('../res/fonts/info_story-webfont.woff2') format('woff2'), /* Modern Browsers */
        url('../res/fonts/info_story-webfont.woff') format('woff'); /* Legacy Browsers */
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: var(--chestnut);
    color: var(--sunset);
    font-family: 'QuickSand';
}

#userLoginSection {
    font-size: 20px;
    padding: 1.25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#userLoginSection .header {
    text-align: center;
    font-size: 40px;
    color: wheat;
    font-family: 'QuickSand';
}

#userLoginSection input[type="text"],
#userLoginSection input[type="password"],
#userLoginSection button {
    margin-bottom: 15px;
    padding: 12.5px;
    border: none;
    border-radius: 0.75vw;
}

#userLoginSection input[type="text"],
#userLoginSection input[type="password"] {
    border: none; /* Remove default border */
    border-bottom: 0.05vw solid var(--sunset); /* Add solid underline with width based on screen width */
    background-color: transparent; /* Make background transparent */
    outline: none; /* Remove outline when focused */
    padding: 0; /* Remove padding */
    text-align: center;
    color: var(--sunset);
    font-size: 100%;
    font-family: 'QuickSand';
    border-radius: 0; /* Ensure no border radius */
    width : 340px;
}

#userLoginSection button {
    width: 200px;
    background-color: var(--cinnabar);
    color: wheat;
    font-size: 75%;
    font-family: 'QuickSand';
}

#userLoginSection button:hover {
    background-color: var(--keppel);
}

#loginStatus ,#SignUpStatus {
    color: wheat;
    margin-top: 2vw;
}


@media screen and (max-width: 768px) {
    body {
        font-size: 16px; /* Increase base font size */
    }

    #userLoginSection {
        font-size: 16px; /* Adjust login section font size */
    }

    #userLoginSection input[type="text"],
    #userLoginSection input[type="password"] {
        width: 200px; /* Adjust input width */
        font-size: 16px; /* Adjust input font size */
    }

    #userLoginSection button {
        width: 200px; /* Adjust button width */
        font-size: 14px; /* Adjust button font size */
    }

    .CPMonItem {
        width: 100%; /* Adjust CPMonItem width */
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 14px; /* Further increase base font size */
    }

    #userLoginSection {
        font-size: 14px; /* Further adjust login section font size */
    }

    #userLoginSection input[type="text"],
    #userLoginSection input[type="password"] {
        width: 200px; /* Further adjust input width */
        font-size: 14px; /* Further adjust input font size */
    }

    #userLoginSection button {
        width: 100px; /* Further adjust button width */
        font-size: 12px; /* Further adjust button font size */
    }

    .CPMonItem {
        width: 100%; /* Further adjust CPMonItem width */
    }
}


#toHome,
#userLogoutButton {
    display: block;
    width: 7vw;
    height: 5.5vw;
    background-color: var(--jet);
    color: var(--sunset);
    font-size: 1.5vw;
    text-decoration: none;
    border-radius: 50%; 
    text-align: center; /* Center text horizontally */
    line-height: 5.5vw; /* Center text vertically */
    margin-bottom: 0.75vw; /* Add margin between the buttons */
    margin-right: 1.5vw;
}

#toHome:hover,
#userLogoutButton:hover {
    background-color: var(--fern-green);
}


#buttonContainer {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
}

#expContainer {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    margin-left: 1vw;
}

#expText {
    margin-right: 1vw; /* Adjust spacing as needed */
    color: var(--sunset); /* Adjust color as needed */
    font-size: 2vw;
}

#expBarContainer {
    position: relative;
    width: 12vw; /* Adjust width as needed */
    height: 20px; /* Adjust height as needed */
    background-color: var(--keppel); /* Adjust color as needed */
    border-radius: 10px; /* Adjust border radius as needed */
    overflow: hidden; /* Ensure the exp bar text stays within its container */
}

#expBar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--fern-green); /* Adjust color as needed */
    transition: width 0.5s ease; /* Smooth transition for width changes */
}

#expAmount {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Adjust color as needed */
    font-size: 12px; /* Adjust font size as needed */
}


#expAmount {
    color: var(--jet);
    margin-left: auto; /* Push expAmount to the right */
    margin-right: 10px; /* Adjust as needed */
    font-size: 1vw;
}

#expBarContainer span {
    margin-left: 10px; /* Adjust as needed */
    margin-right: 5px; /* Adjust as needed */
}

#moneyContainer {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: 2vw;
    color: var(--sunset);
    display: flex;
    margin-right: 1vw;
}

#moneyLabel {
    margin-right: 1vw;
    color: var(--sunset);
}

#userMoney {
    color: var(--sunset); /* Assuming you want user's money in a different color */
}

#greeting {
    text-align: center;
    font-size: 4.5vw; /* Adjust font size as needed */
    font-family: 'QuickSand'; /* Apply custom font */
}

#CPMonListContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.CPMonItem {
    width: calc(33.33% - 10px); /* Adjust width as needed */
    margin-bottom: 20px; /* Adjust margin as needed */
    text-align: center;
}

.CPMonItem img {
    max-width: 100%;
    height: auto;
}
